<% layout("/layouts/boilerplate") %> 

<div class="container mt-4">
  <h2><%= categoryName %></h2>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% if (listings.length > 0) { %>
     <% for(let listing of listings){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card listing-card" >
  <img class="card-img-top" style="height: 20rem" src="<%=listing.image.url%>" alt="listing_img">
    <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text"><b><%=listing.title%></b><br>
       price: &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
    </p>
 
  </div>
</div>
</a>

<%}%>
    <% } else { %>
      <p>No listings found in this category.</p>
    <% } %>
  </div>
</div>